<div class="heading">
  <h1>Translations</h1>
  <p>Under each artist is a list of things I’ve translated in chronological order of when the original text was published (not when I translated it).</p>
</div>

<% @content_producers.each do |content_producer| %>
  <div class="content-producer">
    <h2 class='name'><%= content_producer.name %></h2>
    <div class="content-type translation">
      <% content_producer.translations.group_by { |t| t.translation_type }.each do |t_group, translations| %>
        <h2> <%= t_group.capitalize %> </h2>
        <ul>
          <% translations.each do |translation| %>
            <li><a href="#"><%= translation.title %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <br>
  <br>
<% end %>


<!-- rails generate scaffold content_producer name:string -->
<!-- rails generate scaffold translation title:string translation_type:string body:text content_producer_id:integer -->
