<div class="heading">
  <h1>Translations</h1>
  <p>Under each artist is a list of things I’ve translated in chronological order of when the original text was published (not when I translated it).</p>
</div>

<% @content_producers.each do |content_producer| %>
  <h2 class='name'><%= content_producer.name %></h2>

  <div class="content-producer">
    <div class="content-type translation">
      <% distinct_translation_types = content_producer.translations.select(:translation_type).collect {|t| t.translation_type}.uniq %>

      <% distinct_translation_types.each do |t_type| %>
        <h2> <%= t_type.capitalize %></h2>
        <ul>
          <% content_producer.translations.where(translation_type: t_type).each do |translation| %>
            <li><a href="#"><%= translation.title %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <br>
  <br>
<% end %>


<!-- rails generate scaffold content_producer name:string -->
<!-- rails generate scaffold translation title:string translation_type:string body:text content_producer_id:integer -->
