<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_producer.name %>
</p>

<%= link_to 'Edit', edit_content_producer_path(@content_producer) %> |
<%= link_to 'Back', content_producers_path %>
